{% macro render_dict(dictionary)%}
  <table>
    <tr>
      <th> name </th>
      <th> value </th>
      <th> comments </th>
    </tr>
    {% for key, value in dictionary.items() %}
    <tr>
      <td> {{key}} </td>
      <td> {{value}} </td>
      {% if value <= 2 %}
      <td style="color: blue" > short </td>
      {%  elif value > 2 and value <= 3 %}
      <td style="color: green"> medium </td>
      {% else %}
      <td style="color: red"> Long </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

{% endmacro %}